[submodule "deps/libwebsockets"]
	path = deps/libwebsockets
	url = https://github.com/dreamsxin/libwebsockets.git
	branch = master
[submodule "deps/libqrencode"]
	path = deps/libqrencode
	url = https://github.com/dreamsxin/libqrencode.git
	branch = master
[submodule "deps/mongo-c-driver"]
	path = deps/mongo-c-driver
	url = https://github.com/dreamsxin/mongo-c-driver.git
	branch = master
[submodule "deps/wiredtiger"]
	path = deps/wiredtiger
	url = https://github.com/dreamsxin/wiredtiger.git
	branch = master
[submodule "deps/mongoose"]
	path = deps/mongoose
	url = https://github.com/dreamsxin/mongoose.git
	branch = master
[submodule "deps/libmdbx"]
	path = deps/libmdbx
	url = https://github.com/dreamsxin/libmdbx.git
	branch = master
