[submodule "php-tests/library/Mustache"]
	path   = php-tests/library/Mustache
	url    = https://github.com/bobthecow/mustache.php.git
	branch = master

[submodule "php-tests/library/Twig"]
	path   = php-tests/library/Twig
	url    = https://github.com/fabpot/Twig.git
	branch = master
[submodule "deps/libwebsockets"]
	path = deps/libwebsockets
	url = https://github.com/warmcat/libwebsockets.git
[submodule "deps/libqrencode"]
	path = deps/libqrencode
	url = https://github.com/fukuchi/libqrencode.git
[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/libuv/libuv.git
[submodule "deps/mongo-c-driver"]
	path = deps/mongo-c-driver
	url = https://github.com/mongodb/mongo-c-driver.git
[submodule "deps/wiredtiger"]
	path = deps/wiredtiger
	url = https://github.com/dreamsxin/wiredtiger.git
[submodule "deps/mongoose"]
	path = deps/mongoose
	url = https://github.com/dreamsxin/mongoose.git
[submodule "deps/libdeep"]
	path = deps/libdeep
	url = https://github.com/dreamsxin/libdeep.git